body
{
    font-family: Tahoma;
    font-size: 16px;
}

td.header
{
    background-color: #EEEEEE;
    border-color: #D0D0D0;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

    padding: 20px;
}

td.heading
{
    background-color: #EEEEEE;
    border-color: #D0D0D0;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

    padding: 20px;
}

td.subHeading
{
    font-size: 20px;
    padding: 12px;
}

table
{
    border-collapse: collapse;
}

td.tableHeading
{
    border-width: 1px 1px 1px 1px;
    font-size: 14px;
}

td.separator
{
    border-width: 1px 0px 0px 0px;
    border-color: #D0D0D0;
    border-style: solid;
}

td.tableItem
{
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 0.5px 0.5px 0.5px 0.5px;
    border-color: #D0D0D0;
}

td.label
{
    border-color: #D0D0D0;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    font-weight: bold;
    text-align: right;
    background-color: #EEEEEE;
    vertical-align: top;

    width: 30%;

    padding: 10px;
    padding-right: 20px;
}

td.data
{
    width: 70%;

    padding: 10px;
}

.messageToRecruiters
{
    padding: 10px;
}